html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

#game{
    width: 100%;
    height: 100%;
    background-image: url('../img/background1.jpg');
    background-size: cover;
    background-position: center center;
}

canvas{
    background: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

.levelUp{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    color: rgb(134, 243, 119);
    font-size: 45px;
    font-family: 'Amatic SC', cursive;


}